#fullpage {
   max-width: 85em;
   margin: auto;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */


	
}

h1 {
   font-size: 2em;
}
h2 {
   font-size: 1.5em;
   text-align:center;
}
h1, h2 {
   font-weight: bold;
   margin: 5px 0;
}
p {
   font-size: 1em;
   margin: 5px 0;
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-styletype:disc;
   
}
li {

   border-radius: 10px 10px 10px 10px;
   margin-left: 10px;
   padding-left: 10px;
   
}
header li {
	display:inline;
	
}
header li a {
	 text-decoration: none;
}

header, article, aside, footer {
   border: 1px solid #111;
   background:white;
}

header, article, aside, footer {
   border: 1px solid #111;
   padding: 10px 1em;
   margin: 0 5% 10px;
}

header {
   margin-top: 10px;
}

@media only screen and (min-width: 36em) and (max-width: 72em){
   #about {
      width: 67%;
      float: left;
      margin-right: 0;
   }
   #links {
      width: 21%;
      float: right;
      margin-left: 0;
	  
   }
	  
   #notes {
      clear: both;
   }
}
@media only screen and  (min-width: 72em) {
   #about {
      width: 58%;
      float: left;
      margin-right: 0;
      text-align: left;

   }
   #links {
      width: 18%;
      float: right;
      margin-left: 0;
      /*text-align:right;*/
   }
   #notes{
		 width:12%;
		 /*background-color: #66FFFF; */
		 text-align: center;
		 float:left;
		 margin-right: 0;
         margin-left: 1%;
	     
   }
   footer {
	   
        clear: both;
   }

}
