#fullpage {
   max-width: 85em;
   margin: auto;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abdf4+0,ffffff+22,ffffff+74,89c3eb+100,d5ebfb+100 */
background: rgb(122,189,244); /* Old browsers */
background: -moz-linear-gradient(left, rgba(122,189,244,1) 0%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 74%, rgba(137,195,235,1) 100%, rgba(213,235,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,189,244,1)), color-stop(22%,rgba(255,255,255,1)), color-stop(74%,rgba(255,255,255,1)), color-stop(100%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(122,189,244,1) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 74%,rgba(137,195,235,1) 100%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(122,189,244,1) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 74%,rgba(137,195,235,1) 100%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(122,189,244,1) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 74%,rgba(137,195,235,1) 100%,rgba(213,235,251,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(122,189,244,1) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 74%,rgba(137,195,235,1) 100%,rgba(213,235,251,1) 100%); /* W3C */
font-family: sans-serif,"Times New Roman";
}

h1 {
   font-size: 2em;
   color:#33ADFF;
}
h2 {
   font-size: 1.5em;
   text-align:center;
   
}
h1, h2,h3 {
   font-weight: bold;
   margin: 5px 0;
   font-family: 'Courgette', cursive;
}
p {
   font-size: 1em;
   margin: 5px 0;
  
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-styletype:disc;
   
}
img {
   max-width: 100%;
}

li {

   border-radius: 10px 10px 10px 10px;
   margin-left: 10px;
   padding-left: 10px;
   
}
header li {
	display:inline;
	
}
header li a {
	 text-decoration: none;
	 font-size:100%;
}
header li img:hover{
	
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */

}
header li a img {
width: 20%;

}

header, article, aside, footer {
   border: 2px solid #0066FF;
   background:white;
}

header, article, aside, footer {
   border: 2px solid #0066FF;
   padding: 10px 1em;
   margin: 0 5% 10px;
}

footer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+14,7abdf4+40,89c3eb+55,d5ebfb+75,ffffff+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 14%, rgba(122,189,244,1) 40%, rgba(137,195,235,1) 55%, rgba(213,235,251,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(14%,rgba(255,255,255,1)), color-stop(40%,rgba(122,189,244,1)), color-stop(55%,rgba(137,195,235,1)), color-stop(75%,rgba(213,235,251,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 14%,rgba(122,189,244,1) 40%,rgba(137,195,235,1) 55%,rgba(213,235,251,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 14%,rgba(122,189,244,1) 40%,rgba(137,195,235,1) 55%,rgba(213,235,251,1) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 14%,rgba(122,189,244,1) 40%,rgba(137,195,235,1) 55%,rgba(213,235,251,1) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 14%,rgba(122,189,244,1) 40%,rgba(137,195,235,1) 55%,rgba(213,235,251,1) 75%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	border-radius: 1px 1px 25px 1px;

}
footer p {
	text-align:center;
}
header {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6d/London_Thames_Sunset_panorama_-_Feb_2008_banner.jpg);
   background-repeat: no-repeat;
   background-position: right center;
   border-radius: 25px 1px 1px 1px;
  
}

aside img {
	float: center;
	width: 100%;
	
}

header {
   margin-top: 10px;
}
#upstairs a{
	float:right;		
}

@media only screen and (min-width: 36em) and (max-width: 72em){
   #about {
      width: 67%;
      float: left;
      margin-right: 0;
   }
   #links {
      width: 21%;
      float: right;
      margin-left: 0;
	  
   }
	  
   #notes {
      clear: both;
	 
   }
   aside img{
	   width: 50%;
	   float: none;
	   
   }
      header li a img {
	width: 8%;

	}
	#about{
	border-radius: 1px 1px 10px 1px;
	}
	#links{
	border-radius: 1px 1px 1px 10px;
	}

   
  
   
}
@media only screen and  (min-width: 72em) {
   #about {
      width: 58%;
      float: left;
      margin-right: 0;
      text-align: left;

   }
   #links {
      width: 18%;
      float: right;
      margin-left: 0;
      /*text-align:right;*/
   }
   #notes{
		 width:12%;
		 /*background-color: #66FFFF; */
		 text-align: center;
		 float:left;
		 margin-right: 0;
         margin-left: 1%;
	     
   }
   footer {
	   
        clear: both;
   }
   #about,#links,#notes{
border-radius: 1px 1px 1px 10px;
}
#notes{
border-radius: 1px 1px 10px 10px;
}
#about{border-radius:1px 1px 10px 1px;
}
   header li a img {
width: 6%;

}

}
